@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-blue: #1169db;
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}
